html, body, #root{
	height: 100%;
	width: 100%;
}

.Loading {
	margin-top: 20%;
	justify-content : center;
	display: flex;
}
@keyframes slideStart {
  0% {
    margin-top: 0;
  }
  
  100% {
    margin-top: -2000px;
  }
}

@keyframes boxFade {
	0% {
		opacity: 1;
	 }
	 50% {
		opacity: 0;
	 }
	 100% {
		opacity: 1;
	 }
}

@keyframes changeColor {
	0% {
		color: red;
	 }
	 50% {
		color: blue;
	 }
	 100% {
		color: red;
	 }
}

@keyframes changeBackgroundColor {
	0% {
		background-color: red;
	 }
	 50% {
		background-color: blue;
	 }
	 100% {
		background-color: red;
	 }
}

/* LoginForm */
.login_container {
	text-align: center;
	display: flex;
  justify-content : center;
	padding: 10rem;
	height: 100%;
	width: 100%;
	background-color: black;
	color: white;
	margin: 0 !important;
}

.login_title {
	justify-content : center;
	margin-bottom: 5rem;
}

.login_input_form{
	text-align: center;
}

.login_social{
	margin: 1rem;
}

.login_social_button{
	margin: 1rem;
	width: 10rem;
	background-color: black !important;
	color: white !important;
}
.login_social_button:hover {
	background-color: white !important;
	color: black !important;
}

.login_input{
	width: 30rem;
	background-color: black !important;
	color: white !important;
}

.login_input:hover{
	background-color: white !important;
	color:black !important;
}

.login_toggle:hover{
	text-decoration:underline;
	text-decoration-style: wavy;
	text-decoration-thickness : 3px;
}

/* Home */

.home_container{
	height: 100%;
	overflow-y: scroll;
}
*::-webkit-scrollbar{
	display:none;
}

.home_title{
	height: 100%;
	text-align: center;
	align-items: center;
  justify-content: center;
}

.home_title > h1{
	vertical-align: middle;
	font-size: 7rem;
	font-weight: bold;
	padding-top: 15rem;
	color: black;
}

.home_title > p {
	animation: boxFade 2s 1s infinite linear alternate;
	font-size: 2rem;
	margin-top: 3rem;
	margin-bottom: 12rem;
}

.home_title_span{
	padding: 1rem;
	display: flex;
	float: inherit;
	flex-direction: column;
	font-weight: bold;
	animation: changeColor 1s 1s infinite linear alternate;
}

.home_mouseicon {
	animation: changeColor 1s 1s infinite linear alternate;
}

.home_content {
	padding: 3rem;
	height: 100%;
	text-align: center;
	align-items: center;
  justify-content: center;
	background-color: #808080;
}

.home_content_div {
	padding-top: 5rem;
	height : 100%;
	align-items: center;
	justify-content: center;
}
.home_content_div > * {
	opacity: 0;
}

.home_content_div > p {
	padding: 2rem;
	font-size: 3rem;
	color: white;
}
.home_image{
	width: 20rem;
	height: 20rem;
}

/* TopNavbar */
.topNavbar_icon{
	background-color: transparent;
}

.topNavbar_head{
	margin:0;
}

.topNavbar_Link {
	display: block;
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size: var(--bs-nav-link-font-size);
	font-weight: var(--bs-nav-link-font-weight);
	color: var(--bs-nav-link-color);
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	padding-right: var(--bs-navbar-nav-link-padding-x);
	padding-left: var(--bs-navbar-nav-link-padding-x);
}

/* BottomNavbar */
.BottomNavbar_head {
	margin : 0;
	color : white;
	text-align: center;
	height: 10%;
	padding-top : 2rem;
	display: block;
	background-color: rgba(0, 0, 0, 0.7);
}

.BottomNavbar_head > p {
	margin:0
}

/* leftSidebar */
.leftSidebar_container{
	background-color: white !important;
	color: black !important;
}

.leftSidebar_footBtn {
	margin: 0 !important;
	border-radius: 0 !important;
}

/* RF-RandomFood */

.RF_Container {
	width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	padding: 0;
  margin: 0;
	overflow-y: scroll;
}

.RF_Container.changeColor{
	background-image: url("../image/pensu.gif");
	background-size: 100%, 100%
}

.RF_Main {
  height: 100px;
  overflow: hidden;
	justify-content: center;
  align-items: center;
}

.RF_background{
	width : 28rem;
	height: 40rem;
	display:flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	background-image: url("../image/randomImage.jpg");
}

.RF_slide_box {
	padding:0;
  width: 200px;
  height: 100px * 8;
  color: black;
}

.RF_slide_box.sliding {
	animation: slideStart 3s infinite;
}
.RF_slide_box h1{
  display: flex;
  align-items: center;
  justify-content: center;
	text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.RF_slide_box li {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
	text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.RF_Head{
	margin: 5rem;
	
}
.RF_Head h1{
	font-weight: 900;
}

.RF_Footer {
	margin: 5rem;
	font-weight: bold;
}

.RF_Table {
	overflow-y: scroll;
}

/* Rummikub */
.rummi_container{
	width: 100%;
	height: 100%;
	position:absolute;
	top:7rem;
	left:25%;
}
.rummi_iframe {
	width: 927px;
	height: 655px;
}